
<ion-list>
  <ion-list-header>Heart Rate Widget Beta</ion-list-header>
  <ion-item>
    <p>
      Welcome random user!<br><br>

      You see a simple web-app build around <ion-text color="primary"><a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API">Web Bluetooth API</a><ion-icon name="bluetooth"></ion-icon></ion-text><br><br>

      Its primary usecase is to provide responsive widget for games streaming like <ion-text color="primary"><a href="https://www.twitch.tv">Twitch</a><ion-icon name="logo-twitch"></ion-icon></ion-text><br><br>

      This widget was built in 1 day and was somewhat tested on latest Google Chrome desktop browser. <br><br> So please you it on "as is" basis and <ion-text color="danger">at your own risk<ion-icon name="warning"></ion-icon></ion-text><br><br>

      If you have questions - welcome to the project's <a href="https://github.com/cmer4/heart-bt">Repo</a><ion-icon color="primary" name="logo-github"></ion-icon><br>

    </p>
  </ion-item>
</ion-list>
